<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="znaika" class="laba4.story.Characters.Znaika"></bean>
    <bean id="smekailo" class="laba4.story.Characters.Smekailo"></bean>
    <bean id="babies" class="laba4.story.Characters.Babies"></bean>
    <bean id="citizens" class="laba4.story.Characters.Citizens"></bean>
    <bean id="move" class="laba4.story.Actions.MoveIn"></bean>
    <bean id="greenCity" class="laba4.story.Place.GreenCity"></bean>
    <bean id="dissuade" class="laba4.story.Actions.Dissuade"></bean>
    <bean id="feed" class="laba4.story.Actions.Feed"></bean>
    <bean id="outskirts" class="laba4.story.Place.ToOutskirts"></bean>
    <bean id="take" class="laba4.story.Actions.Take"></bean>
    <bean id="road" class="laba4.story.Place.Road"></bean>
    <bean id="show" class="laba4.story.Actions.Show"></bean>
    <bean id="death" class="laba4.story.Others.Death"></bean>
    <bean id="sayGoodbye" class="laba4.story.Actions.SayGoodbye"></bean>
    <bean id="dragon" class="laba4.story.Characters.Dragon"></bean>
    <bean id="cloud" class="laba4.story.Others.Cloud"></bean>
    <bean id="korotishki" class="laba4.story.Characters.Korotishki"></bean>
    <bean id="hear" class="laba4.story.Actions.Hear"></bean>
    <bean id="houses" class="laba4.story.Place.Houses"></bean>
    <bean id="story" class="laba4.story.Story">


        <constructor-arg index="0" ref="znaika"/>
        <constructor-arg index="1" ref="smekailo"/>
        <constructor-arg index="2" ref="babies"/>
        <constructor-arg index="3" ref="citizens"/>
        <constructor-arg index="4" ref="move"/>
        <constructor-arg index="5" ref="greenCity"/>
        <constructor-arg index="6" ref="dissuade"/>
        <constructor-arg index="7" ref="feed"/>
        <constructor-arg index="8" ref="outskirts"/>
        <constructor-arg index="9" ref="take"/>
        <constructor-arg index="10" ref="road"/>
        <constructor-arg index="11" ref="show"/>
        <constructor-arg index="12" ref="death"/>
        <constructor-arg index="13" ref="sayGoodbye"/>
        <constructor-arg index="14" ref="dragon"/>
        <constructor-arg index="15" ref="cloud"/>
        <constructor-arg index="16" ref="korotishki"/>
        <constructor-arg index="17" ref="hear"/>
        <constructor-arg index="18" ref="houses"/>
    </bean>
</beans>